<div class="container">
    <h1>Ver pessoa</h1>
  
    <a href="/pessoas/index" routerLink="/pessoas/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ pessoas.id }}</p>
    </div>
   
    <div>
        <strong>Nome Completo:</strong>
        <p>{{ pessoas.name }}</p>
    </div>
   
    <div>
        <strong>Email:</strong>
        <p>{{ pessoas.email }}</p>
    </div>

    <div>
        <strong>Telefone:</strong>
        <p>{{ pessoas.phone }}</p>
    </div>
   
</div>